@namespace Client.Core.Components
@inject IUFileService UFileService
@inject IDialogService DialogService

@if (fileEntity != null)
{
    
    @if (fileEntity.Type == UFileTypes.Image)
    {
        <span @onclick="ShowPreview" style="cursor:pointer;display:inline-block;">
            <MudImage Fluid="true" Src="@(url + fileEntity.Path)" Height="50" Width="60" />
        </span>
    }
    else if (fileEntity.Type == UFileTypes.File)
    {
        <MudLink Href="@(url + fileEntity.Path)">@fileEntity.Name</MudLink>
    }
}


@code {

    [Parameter]
    public FileView? fileEntity { get; set; }

    string url = string.Empty;

    protected async override Task OnParametersSetAsync()
    {
        var urlTask = UFileService.GetFileUrl();
        url = await urlTask;
    }

    private async Task ShowPreview()
    {
        if (fileEntity != null)
        {
            await DialogService.ShowFilePreview(fileEntity);
        }
    }
}